<div class="container">
  <div class="card add-card" (click)="toggleForm()">
    <p>+ Add Product</p>
  </div>

  <div *ngIf="showForm" class="form-container">
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <label for="productName">Product Name:</label>
      <input id="productName" name="productName" [(ngModel)]="productName" required>

      <label for="productPrice">Product Price:</label>
      <input id="productPrice" name="productPrice" type="number" [(ngModel)]="productPrice" required>

      <label for="productCategory">Product Category:</label>
      <select id="productCategory" name="productCategory" [(ngModel)]="productCategory" required>
        <option value="Phone">Phone</option>
        <option value="Watches">Watches</option>
        <option value="Airdopes">Airdopes</option>
        <option value="Laptop">Laptop</option>
        <option value="PC">PC</option>
        <option value="Camera">Camera</option>
      </select>

      <label for="productImage">Product Image:</label>
      <input id="productImage" name="productImage" type="file" (change)="onFileChange($event)" required>

      <label for="productDescription">Product Description:</label>
      <textarea id="productDescription" name="productDescription" [(ngModel)]="productDescription" required></textarea>
    
      <label for="productSpecifications">Product Specifications:</label>
      <textarea id="productSpecifications" name="productSpecifications" [(ngModel)]="productSpecification" required></textarea>
    
      <label for="productHighlights">Product Highlights:</label>
      <textarea id="productHighlights" name="productHighlights" [(ngModel)]="productHighlight" required></textarea>
      <button type="submit">Add Product</button>
    </form>
  </div>

  <div class="product-list">
    <div *ngFor="let product of products" class="card">
      <img [src]="getImageUrl(product.image)" alt="Product Image">
      <div class="card-details">
        <h4>{{ product.name }}</h4>
        <p>{{ product.price | currency }}</p>
        <p>Rating: {{ product.rating }} / 5</p>
        <p >{{product.description}}</p>
        <p >{{product.specification}}</p>
        <p>{{product.highlight}}</p>
      </div>
    </div>
  </div>
</div>
