<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelXplore</title>
    <link rel="stylesheet" href="../css/desination.css">
</head>
<body>
        <nav>
            <div class="logo">
              <a href="#"><img src="../images/travelLogo.png" alt="Logo"></a>
              <span class="logo-name">TravelXplore</span>
            </div>
            <ul class="nav-links">
              <li><a href="/home">Home</a></li>
              <li><a href="./desination">Desinations</a></li>
              <li><a href="./places/places.html">Booking</a></li>
              <li><a href="#" id="loginBtn">Login</a></li>
              <li><a href="#" id="signupBtn">Signup</a></li>
            </ul>
        </nav>
    
      <div>
        <img src="../images/desinationbacimg.jpg" alt="" style="width: 100%;height: 400px; object-fit: cover; ">
      </div>

    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search by country...">
        <button onclick="filterCards()">Search</button>
    </div>
    
    <div class="card-grid" id="cardGrid">

    </div>

    <script src="../js/desination.js"></script>
</body>
</html>
