<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <div class="logo">
          <a href="#"><img src="../images/travelLogo.png" alt="Logo"></a>
          <span class="logo-name">TravelXplore</span>
        </div>
        <ul class="nav-links">
          <li><a href="/home">Home</a></li>
          <li><a href="./desination">Desinations</a></li>
          <li><a href="./places/places.html">Booking</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href="#" id="signupBtn">Signup</a></li>
        </ul>
      </nav>
      
      <section class="image-section">
        <div class="image-container">
          <img src="../images/homeimg1.jpg" alt="Image 1">
        </div>
        <div class="image-container">
          <img src="../images/homeimh2.jpg" alt="Image 2">
        </div>
        <div class="image-container">
          <img src="../images/homeimg3.jpg" alt="Image 3">
        </div>

        <div class="overlay">
            <div class="quote">Jobs fill your pocket, but adventures fill your soul.</div>
            <button class="start-journey">Start Your Journey</button>
          </div>
      </section>

</body>
</html>