<div class="my-body" aos-init aos-animate>
  <header>
    <div class="container header-content">
      <h1 class="logo">E-Store</h1>
      <nav>
          <ul>
              <li><a (click)="openLogin()">Login</a></li>
          </ul>
      </nav>
  </div>
  </header>
    <div class="main-container">
      <div class="inner-container">
          <div class="content-image-container">
              <div class="content-container">
                  <h1>Discover the Latest Tech Gadgets</h1>
                  <p>Explore our collection of cameras, phones, airdopes, watches, laptops, and systems.</p>
                  <div class="buttons">
                      <button class="primary">Shop Now</button>
                      <button class="secondary">Learn More</button>
                  </div>
              </div>
              <div class="image-container">
                  <img src="assets/images/shopping.avif" alt="Person">
              </div>
              <div class="styled-line"></div>
          </div>
      </div>
  </div>

  
  <section class="special-features">
    <h2 data-aos="fade-up">Why Shop With Us</h2>
    <div class="features">
      <div class="feature" data-aos="fade-right">
        <img src="assets/images/camerabg.png" alt="Camera">
        <h3>High-Quality Cameras</h3>
        <p>Capture moments in high resolution with our top-rated cameras.</p>
      </div>
      <div class="feature" data-aos="fade-left">
        <img src="assets/images/phone.png" alt="Phone">
        <h3>Latest Smartphones</h3>
        <p>Stay connected with the latest smartphones featuring cutting-edge technology.</p>
      </div>
      <div class="feature" data-aos="fade-right">
        <img src="assets/images/airpod.avif" alt="Airdopes">
        <h3>Premium Airdopes</h3>
        <p>Experience wireless freedom and superior sound quality with our airdopes.</p>
      </div>
      <div class="feature" data-aos="fade-left">
        <img src="assets/images/smartwatch.png" alt="Watch">
        <h3>Smart Watches</h3>
        <p>Track your fitness and stay notified with our range of smartwatches.</p>
      </div>
      <div class="feature" data-aos="fade-right">
        <img src="assets/images/laptopbg.png" alt="Laptop">
        <h3>Laptops for Every Need</h3>
        <p>From gaming to business, find the perfect laptop for you.</p>
      </div>
      <div class="feature" data-aos="fade-left">
        <img src="assets/images/pcbg.png" alt="System">
        <h3>High-Performance Systems</h3>
        <p>Powerful systems designed to handle all your computing needs.</p>
      </div>
    </div>
  </section>
</div>
<app-login *ngIf="showLogin" (close)="closeLogin()" (showSignup)="openSignup()"></app-login>
<app-signup *ngIf="showSignup" (close)="closeSignup()" (showLogin)="openLogin()"></app-signup>
<router-outlet></router-outlet>
