body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container{
    text-align: center;
}

#formcontainer{
    display: none;
    margin-top: 20px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}

img{
    position: absolute;
    top: 0;
    left: 0;
}